
div.img
  {
  margin:5px;
  padding: 5px;
  border:18px solid #aaa;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:5px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:260px;
  margin:5px;
  font-family: Century Gothic;
  color: #493333;
  }
footer {
 height: auto;
  width: 100%;
  float: left;
  padding: 15px 0px 15px 0px;
  position: relative;
  z-indexf:1111111;
  
}
