
#wss {
   opacity:0;
   -webkit-transition: opacity 3.0s linear 0s;
    transition: opacity 3.0s linear 0s;
	color:purple;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	font-style: italic; 
}

